/* style.css */

:root {
  --viewWidth: 100;
/*  on javascript then call // parseFloat(getComputedStyle(document.documentElement).getPropertyValue("--viewWidth"));*/
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: 'Roboto';
	text-align: center;
}

canvas {
	width: min(80vh,80vw);
	height: min(80vh,80vw);
}

div	{
/*	height: 100vh;*/
}

footer {
	position: fixed; 
	left: 0; 
	bottom: 10px; 
	width: 100%; 
	text-align: center;
}

nav>a {
	position: fixed;
	right: 10px;
	top: 10px;
	font-size: 2em;
	color: black;
}